<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register new class</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="container">
    <%- include("../partials/nav.ejs") %>
      <h1>Register a new class</h1>
      <% if(locals.err){ %>
        <p class="bg-danger bg-gradient mt-3 mb-2 text-white p-2">Please fill out all data</p>
        <% } %>

          <form class="row g-3 needs-validation mt-4" novalidate method="POST" action="/subjects">
            <div class="col-lg-6">
              <label for="name" class="form-label">Class name</label>
              <input type="text" class="form-control" id="validationCustom01" placeholder="The History Of Rome" required
                name="name" minlength="3" maxlength="25">
              <div class="valid-feedback">
                Sounds interesting.
              </div>
              <div class="invalid-feedback">
                A class needs a name.
              </div>
            </div>

            <div class="col-md-12">
              <label for="description" class="form-label">Class description</label>
              <textarea class="form-control" id="description" name="description" rows="3" required minlength="10"
                placeholder="The Roman Empire was the post-Republican state of ancient Rome..." maxlength="500"></textarea>
              <div class="valid-feedback">
                Sounds amazing.
              </div>
              <div class="invalid-feedback">
                Please add a description.
              </div>
            </div>

            <div class="col-12">
              <button class="btn btn-primary" type="submit">Submit form</button>
            </div>
          </form>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

  <script>
    (() => {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.querySelectorAll('.needs-validation')


      // Loop over them and prevent submission
      Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
    })()
  </script>
</body>

</html>